[tool.black]
line-length = 120

[tool.poetry]
name = "django-backblaze-b2"
version = "2.3.0"
description = "A Django app to use backblaze b2 as storage."
authors = ["Etienne H <django_backblaze_b2@internet-e-mail.com>"]
maintainers = ["Etienne H <django_backblaze_b2@internet-e-mail.com>"]
license = "BSD-2-Clause"
readme = "README.md"
homepage = "https://github.com/ehossack/django-backblaze-b2/"
repository = "https://github.com/ehossack/django-backblaze-b2/"
keywords = [
    "django",
    "storage",
    "backblaze",
    "b2",
    "cloud"
]
classifiers = [
    "Environment :: Web Environment",
    "Framework :: Django",
    "Framework :: Django :: 3.0",
    "Framework :: Django :: 3.1",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Development Status :: 5 - Production/Stable",
    "Typing :: Typed",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
include = ["py.typed"]

[tool.poetry.dependencies]
python = "^3.6.1"
b2sdk = ">=1.9.0"
django = ">=3.0"
typing-extensions = "^3.7.4"

[tool.poetry.dev-dependencies]
isort = "^5.4.2"
pytest = "^5.2"
mypy = ">=0.8"
black = "^19.10b0"
django-stubs = "^1.7.0"
flake8 = "^3.8.3"
pytest-cov = "^2.10.1"
pytest-django = "^3.9.0"
pytest-pythonpath = "^0.7.3"
docutils = "^0.16"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
